<!DOCTYPE html>
<html>

<!-- Machine Code -->

<head>
    <meta charset="utf-8">
    <title>🏆Holy Grail Layout</title>
    <link rel="stylesheet" href="../styles/mainStyle.css" />

</head>



<!-- Human Code -->

<body>
    <div class="body">

        <div class="el NavBar">

            <div class="FlexNavItems">

                <div class="LeftSideNav">

                    <div class="NavLogo">

                        <h1 class="Logo">LOGO</h1>

                    </div>

                    <ul>
                        <li><a href="#">Home</a></li>
                    </ul>

                </div>

                <div class="RightSideNav">
                    <button>Write me an E-mail!</button>
                </div>

            </div>

        </div>


        <div class="el Content">
            <section class="TodoListSection">
                <h1 class="Intro">Welcome to my TodoList-Project!</h1>
            </section>
        </div>

        <div class="el LeftPanel">

        </div>

        <div class="el RightPanel">

        </div>

        <div class="el Footer">

        </div>

    </div>

</body>

</html>